<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @container.name %>
</p>

<p>
<strong>Description:</strong>
<%= @container.description %>
</p>

<p>
<strong>Inventory code:</strong>
<%= @container.inventory_code %>
</p>

<p>
<% if @container.items.any? %>
  <strong>Items</strong>
  <ul>
    <%@container.items.each do |item| %>
      <li>#<%=item.id%> | <%=item.name %> - <%=item.description%></li>
    <% end %>
  </ul>
<% else %>
  No items
<% end %>
</p>
<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
